<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Cars
    </title>
  </head>
  <body>
    <form method="POST" action="">
      {% for field in fields %}
        <label for="{{ field.inputName }}">{{ field.name }}</label><br />
        <input type="{{ field.inputType }}"
          name="{{ field.inputName }}"
          value="" /><br />
      {% endfor %}
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
